/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #708290;
    padding: 20px;
    display: flex;
    
}

header img {
    width: 200px;
}

nav ul {
    background-color: white;
    list-style: none;
    display: flex;
    border-radius: 15px;
    width: 425px;
    height: 40px;
    padding-top: 5%;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

h2 {
    color: #ee8a06;
}


.product {
    background-color: #ee8a06;
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.product p {
    margin-bottom: 5px;
}

button {
font-size: 17px;

}